<div flex>
    <form id="createNewItemForm" role="form" class="md-padding" name="ctrl.createNewItemForm" ng-submit="ctrl.createNewItem()">
        <md-autocomplete id ="newItemAutocomplete"
                         md-input-id="new-item-input"
                         md-no-cache="true"
                         md-selected-item="ctrl.selectedArticle"
                         md-selected-item-change="ctrl.selectedItemChanged($event)"
                         md-search-text="ctrl.newItem.article.name"
                         md-items="article in ctrl.articles | filter: {name: ctrl.newItem.article.name} | limitTo: 5"
                         md-item-text="article.name"
                         md-min-length="1"
                         ng-disabled="creating"
                         placeholder="Neuer Posten">
            <md-item-template>
                <span md-highlight-text="ctrl.newItem.article.name" md-highlight-flags="^i">{{article.name}}</span>
            </md-item-template>
        </md-autocomplete>
    </form>
    <md-content ng-click="ctrl.clearFocusOnNewItemInput()">
        <md-list ng-cloak role="list">
            <shopping-list-item
                    ng-repeat="item in ctrl.list.items | orderBy: ['-deleting', 'done', 'article.name'] track by item.entityId"
                    item="item" list="ctrl.list">
            </shopping-list-item>
        </md-list>
    </md-content>
    <ng-include ng-if="ctrl.list.items.length == 0" src="'/templates/lists/view/emptyList.html'"></ng-include>
</div>