<div ng-hide="loading">
    <form id="createShoppingListForm" role="form" name="ctrl.createShoppingListForm" class="md-padding" ng-submit="ctrl.createList()">
        <md-input-container class="md-icon-float md-block">
            <md-icon md-svg-src="img/icons/action/ic_list_24px.svg"></md-icon>
            <input id="name" name="name" ng-model="ctrl.list.name" type="text" placeholder="Name der Liste" focus-me="true">
        </md-input-container>
    </form>

    <section layout="row" layout-align="center center">
        <md-button class="md-primary" type="submit" ng-click="ctrl.createList()">
            Erstellen
        </md-button>
    </section>
</div>
