<div ng-if="listsAreEmpty() && !loading" layout="column" layout-align="center center">
    <h2 class="md-display-1 text-centered">
        Du hast noch keine Einkaufsliste
        <md-icon md-svg-src="img/icons/social/ic_mood_bad_48px.svg"></md-icon>
    </h2>
    <md-button class="md-primary" ng-href="#/newList">
        <md-icon md-svg-src="img/icons/action/ic_add_shopping_cart_24px.svg"></md-icon>
        Erstelle dir doch eine
    </md-button>
</div>

<md-list ng-cloak>
    <md-list-item ng-repeat="list in lists | orderBy: 'name' track by $index" ng-click="goto('/lists/'+ list.entityId)">
        <md-icon md-svg-src="img/icons/action/ic_list_24px.svg"></md-icon>
        <p>{{list.name}}</p>
        <md-icon aria-label="delete list" class="md-secondary" ng-click="deleteList(list, $event)"
                 md-svg-src="img/icons/action/ic_delete_24px.svg">
        </md-icon>
    </md-list-item>
</md-list>