<div ng-if="listsAreEmpty() && !loading" layout="column" layout-align="center center">
    <h2 class="md-display-1 text-centered">
        Du hast noch keine Einkaufsliste
        <md-icon>
            <sl-svg-icon src="/img/icons/icons_48px.svg#mood_bad" size="34"></sl-svg-icon>
        </md-icon>
    </h2>
    <md-button class="md-primary" ng-href="#/newList">
        <md-icon>
            <sl-svg-icon src="/img/icons/icons.svg#add_shopping_cart" size="24"></sl-svg-icon>
        </md-icon>
        Erstelle dir doch eine
    </md-button>
</div>

<md-list ng-cloak>
    <ng-include ng-repeat="list in lists | orderBy: 'name' track by $index"
                src="'/app/lists/list.html'"
                ng-controller="listController">
    </ng-include>
</md-list>