<div ng-if="!dictionaryIsEmpty()">
    <md-input-container class="md-block">
        <md-icon md-svg-src="img/icons/action/ic_search_24px.svg"></md-icon>
        <input id="filter" name="filter" ng-model="filter" type="text" placeholder="Filtern..">
    </md-input-container>

    <md-list ng-cloak>
        <md-list-item class="md-2-line md-list-item-with-secondary" ng-repeat="article in articles | filter: filter track by $index" >
            <div class="md-list-item-text">
                <h3>{{article.name}}</h3>
            </div>
            <md-icon class="md-secondary" ng-click="deleteArticle(article)" md-svg-src="img/icons/action/ic_delete_24px.svg"></md-icon>
        </md-list-item>
    </md-list>
</div>
<ng-include ng-if="dictionaryIsEmpty()" src="'/app/article/dictionary/emptyDictionary.html'"></ng-include>