<md-menu>
    <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin  md-font-set="material-icons">more_vert</md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <md-button class="md-primary" ng-href="#/lists/{{list.entityId}}/edit" ng-click="closeNav()">
                <md-icon md-menu-origin  md-font-set="material-icons">
                    settings
                </md-icon>
                Bearbeiten
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button class="md-warn" ng-click="deleteList()">
                <md-icon md-menu-origin md-font-set="material-icons">
                    delete
                </md-icon>
                Liste löschen
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>