<md-menu>
    <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin  md-font-set="material-icons">more_vert</md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <div layout="row">
                <md-icon class=".md-button" md-menu-origin  md-font-set="material-icons" md-menu-align-target style="margin:auto 16px auto 0;">
                    person
                </md-icon>
                <span class=".md-button">{{list.name}}</span>
            </div>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button class="md-primary" ng-href="#/lists/{{list.id}}/edit">
                <md-icon md-menu-origin  md-font-set="material-icons">
                    settings
                </md-icon>
                Bearbeiten
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button class="md-warn" ng-click="deleteList()">
                <md-icon md-menu-origin md-font-set="material-icons">
                    remove_circle
                </md-icon>
                Liste löschen
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>