<div ng-hide="loading">
    <form id="updateShoppingListForm" role="form" name="updateShoppingListForm" ng-submit="updateList()">
        <md-input-container class="md-icon-float md-block" ng-class="{'md-icon-right' : saveIsVisible}">
            <md-icon md-svg-src="img/icons/action/ic_list_24px.svg"></md-icon>
            <input id="name" name="name" ng-model="list.name" ng-focus="showSave()" ng-blur="hideSave()" type="text" placeholder="Name der Liste">
            <md-icon ng-if="saveIsVisible && !nameChanged(updateShoppingListForm)" class="disabled" md-svg-src="img/icons/content/ic_save_24px.svg"></md-icon>
            <md-icon ng-if="saveIsVisible && nameChanged(updateShoppingListForm)" md-svg-src="img/icons/content/ic_save_24px.svg" type="submit" ng-click="updateList()"></md-icon>
        </md-input-container>
    </form>
    <md-list>
        <md-subheader class="md-no-sticky">Berechtigte Nutzer:</md-subheader>
        <div id="addUserField" layout="row">
            <md-icon class="autocompleteIcon" md-svg-src="img/icons/social/ic_person_add_24px.svg"></md-icon>
            <div class="md-padding" flex>
            <md-autocomplete
                             md-selected-item="selectedUser"
                             md-selected-item-change="addUserToOwners(selectedUser, $mdAutocompleteCtrl)"
                             md-search-text="ctrl.userSearchText"
                             md-items="user in users | filter: hasProperty | filter: notContained | limitTo: 5"
                             md-item-text="user.username"
                             md-min-length="1"
                             placeholder="Nutzer hinzufügen">
                <md-item-template>
                    <span md-highlight-text="userSearchText" md-highlight-flags="^i">{{user.username}}</span>
                </md-item-template>
                <md-not-found>
                    Kein Treffer gefunden.
                </md-not-found>
            </md-autocomplete>
            </div>
        </div>
        <md-list-item class="md-2-line md-list-item-with-secondary" ng-repeat="owner in list.owners track by $index">
            <md-icon md-svg-src="img/icons/social/ic_person_24px.svg"></md-icon>
            <div class="md-list-item-text">
                <h3>{{owner.username}}</h3>
                <h4 ng-if="firstNameOrLastNameIsDefined(owner)">{{owner.firstName ? owner.firstName : ''}} {{owner.lastName ? owner.lastName : ''}}</h4>
            </div>
            <md-icon aria-label="remove user from owners list" class="md-secondary" ng-click="removeUserFromOwners($index, owner)" md-svg-src="img/icons/action/ic_delete_24px.svg"></md-icon>
        </md-list-item>
    </md-list>

    <section layout="row" layout-align="center center">
        <md-button ng-href="{{'#/lists/' + list.entityId}}">
            Fertig
        </md-button>
    </section>
</div>


