<loading-cycle ng-if="updating"></loading-cycle>
<form ng-if="!updating" id="updateShoppingListForm" role="form" name="updateShoppingListForm" ng-submit="updateList()">
    <md-input-container class="md-icon-float md-block">
        <label for="name">Name der Liste</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input id="name" name="name" ng-model="list.name" type="text">
    </md-input-container>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-primary" ng-disabled="!updateShoppingListForm.$valid || updateShoppingListForm.$pristine" type="submit">
            Aktualisieren
        </md-button>
    </section>
</form>



