<md-list-item ng-if="!ctrl.optionActive" flex="nogrow" class="md-2-line hide-overflow" ng-class="{'md-list-item-with-secondary': optionsVisible}" role="listitem" on-long-press="showOptions()" md-swipe-left="showOptions()"
ng-mouseenter="showOptionsOnElement()" ng-mouseleave="hideOptionsOnElement()" on-touch-end="hideOptionsOnElement()">
    <md-checkbox aria-label="item" ng-change="updateItem(item)" class="md-primary" md-no-ink ng-model="item.done"></md-checkbox>
    <div class="md-list-item-text" layout="column">
        <h3 ng-class="{ 'striked-out': item.done}">{{item.article.name}}</h3>
        <p  class="shorten-long-text" ng-class="{ 'striked-out': item.done}">{{item.count}} </p>
    </div>
    <md-icon ng-if="!item.deleting && optionsVisible" aria-label="delete item" ng-click="deleteItem(item)" class="md-secondary option" md-svg-src="img/icons/action/ic_delete_24px.svg"></md-icon>
    <md-progress-circular ng-if="item.deleting" class="md-secondary" md-mode="indeterminate" md-diameter="20px"></md-progress-circular>
</md-list-item>
<md-list-item ng-show="optionActive" flex="nogrow" class="md-2-line" role="listitem"
              on-long-press="hideOptionsOnElement()" on-touch-end="hideOptionsOnElement()">
    <md-fab-toolbar flex class="hide-overflow" md-open="ctrl.optionsShown" count="1" md-direction="left">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <div class="titlebar md-toolbar-tools">
                <div layout="row" class="fill-height title-with-tools" flex>
                    <h1 class="md-toolbar-item md-breadcrumb md-headline">
                        {{item.article.name}}
                    </h1>
                    <span flex></span>
                    <md-button aria-label="comment" ng-click="deleteItem(item)" class="md-icon-button">
                        <md-icon aria-label="delete item" class="md-secondary" md-svg-src="img/icons/action/ic_delete_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </md-fab-toolbar>
</md-list-item>