<div ng-if="!loading" layout="row" class="md-padding">
    <form id="loginForm" name="ctrl.loginForm" role="form" ng-submit="ctrl.login()"
          flex-offset-gt-md="25" flex-gt-md="50"
          flex-offset-gt-sm="15" flex-gt-sm="66"
          flex-sm
          flex-xs>
        <md-input-container class="md-block">
            <md-icon md-svg-src="img/icons/social/ic_person_24px.svg"></md-icon>
            <input id="username" name="username" placeholder="Benutzername/E-Mail" ng-model="ctrl.credentials.username" type="text" required>
        </md-input-container>
        <md-input-container class="md-block">
            <md-icon md-svg-src="img/icons/communication/ic_vpn_key_24px.svg"></md-icon>
            <input id="password" name="password" type="password" placeholder="Passwort" ng-model="ctrl.credentials.password" required>
        </md-input-container>

        <section layout-gt-sm="row" layout="column" layout-align="center center" >
            <div>
                <md-button class="md-primary" ng-disabled="ctrl.loginDisabled()" type="submit">
                    Login
                </md-button>
                <md-tooltip ng-if="ctrl.loginDisabled()">
                    Bitten geben Sie zunächst Ihre Zugangsdaten ein
                </md-tooltip>
            </div>
            <md-button class="md-primary" ng-disabled="ctrl.loggingIn" ng-href="#/register">
                Registrieren
            </md-button>
        </section>
    </form>
    <div ng-if="ctrl.gtSm()" flex-gt-sm></div>
</div>