<md-sidenav ng-if="authenticated" class="md-sidenav-left md-whiteframe-z2" md-component-id="leftNav" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar hide-gt-md>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <div flex>
                <md-button style="text-align: left;" ng-href="#/lists" ng-click="closeNav()">
                    <span>Einkaufslisten</span>
                </md-button>
            </div>

            <md-button ng-if="authenticated" class="md-icon-button" ng-click="closeNav()">
                <md-icon md-font-set="material-icons">keyboard_arrow_left</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="column">
        <md-list ng-cloak>
            <md-list-item ng-click="goto('/newList')">
                <md-icon md-font-set="material-icons">add_shopping_cart</md-icon>
                <p>Neue Einkaufsliste</p>
            </md-list-item>
            <md-list-item ng-repeat="list in lists | orderBy: name track by $index" ng-click="goto('/lists/'+ list.entityId)">
                <md-icon md-font-set="material-icons">list</md-icon>
                <p>{{list.name}}</p>
                <md-icon aria-label="delete list" class="md-secondary" md-font-set="material-icons" ng-click="deleteList(list, $event)">
                    delete
                </md-icon>
            </md-list-item>
        </md-list>
    </div>
</md-sidenav>