<md-sidenav ng-if="authenticated" class="md-sidenav-left md-whiteframe-z2" md-component-id="leftNav" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar hide-gt-sm>
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <md-button ng-href="#/lists" ng-click="closeNav()">
                <span>Einkaufslisten</span>
            </md-button>
            <span flex></span>
            <md-button  aria-label="close sidenav" ng-if="authenticated" class="md-icon-button" ng-click="closeNav()">
                <md-icon md-svg-src="img/icons/hardware/ic_keyboard_arrow_left_24px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-list ng-cloak>
        <md-list-item ng-click="goto('/newList')">
            <md-icon md-svg-src="img/icons/action/ic_add_shopping_cart_24px.svg"></md-icon>
            <p>Neue Einkaufsliste</p>
        </md-list-item>
        <md-list-item ng-repeat="list in lists | orderBy: 'name' track by $index" ng-click="goto('/lists/'+ list.entityId)">
            <md-icon md-svg-src="img/icons/action/ic_list_24px.svg"></md-icon>
            <p>{{list.name}}</p>
            <md-icon aria-label="delete list" class="md-secondary" ng-click="deleteList(list, $event)"
                     md-svg-src="img/icons/action/ic_delete_24px.svg">
            </md-icon>
        </md-list-item>
        <md-list-item ng-if="!listsAreEmpty()" ng-click="deleteAllLists($event)">
            <md-icon md-svg-src="img/icons/content/ic_remove_circle_24px.svg"></md-icon>
            <p>Alle Listen löschen</p>
        </md-list-item>
    </md-list>
</md-sidenav>