<loading-cycle ng-if="updating"></loading-cycle>
<form class="md-padding" ng-if="!updating" id="updateUserDataForm" role="form" name="updateUserDataForm" ng-submit="updateUserData()">
    <md-input-container class="md-icon-float md-block">
        <label for="firstName">Vorname</label>
        <md-icon>
            <sl-svg-icon src="/img/icons/icons.svg#person" size="24"></sl-svg-icon>
        </md-icon>
        <input id="firstName" name="firstName" ng-model="user.firstName" type="text">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <label for="lastName">Nachname</label>
        <md-icon>
            <sl-svg-icon src="/img/icons/icons.svg#person" size="24"></sl-svg-icon>
        </md-icon>
        <input id="lastName" name="lastName" type="text" ng-model="user.lastName">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <label for="username">
            Benutzername
            <md-tooltip md-direction="top">
                Der Benutzername kann nicht geändert werden
            </md-tooltip>
        </label>
        <md-icon>
            <sl-svg-icon src="/img/icons/icons.svg#person" size="24"></sl-svg-icon>
        </md-icon>
        <input id="username" name="username" type="text" pattern="[a-zA-Z0-9]*" ng-model="user.username" ng-disabled="true" required>
    </md-input-container>
    <md-input-container  class="md-icon-float md-block">
        <label for="email">E-Mail *</label>
        <md-icon>
            <sl-svg-icon src="/img/icons/icons.svg#email" size="24"></sl-svg-icon>
        </md-icon>
        <input id="email" name="email" type="email" ng-model="user.email" required>
        <div ng-messages="updateUserDataForm.email.$error" ng-if="updateUserDataForm.email.$touched">
            <div ng-message="email">
                Das ist keine gültige E-Mailadresse.
            </div>
            <div ng-message="required">
                Bitte geben Sie eine E-Mailadresse an. Sie erhalten im Anschluss einen Bestätigungscode per E-Mail, um die Registrierung abzuschließen.
            </div>
        </div>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <label for="password">(Neues) Passwort *</label>
        <md-icon>
            <sl-svg-icon src="/img/icons/icons.svg#vpn_key" size="24"></sl-svg-icon>
        </md-icon>
        <input id="password" name="password" type="password" ng-model="user.password" minlength="8" required>
        <div ng-messages="updateUserDataForm.password.$error" ng-if="updateUserDataForm.password.$touched">
            <div ng-message="minlength">
                Das Passwort muss mindestens 8 Zeichen lang sein.
            </div>
            <div ng-message="required">
                Bitte legen Sie ein neues Passwort fest oder bestätigen Sie die Änderung durch ihr aktuelles Passwort.
            </div>
        </div>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <label for="passwordRepeat">(Neues) Passwort wiederholen *</label>
        <md-icon>
            <sl-svg-icon src="/img/icons/icons.svg#vpn_key" size="24"></sl-svg-icon>
        </md-icon>
        <input id="passwordRepeat" name="passwordRepeat" type="password" ng-model="passwordRepeat"
               compare-to="user.password" required>
        <div ng-messages="updateUserDataForm.passwordRepeat.$error" ng-if="updateUserDataForm.passwordRepeat.$touched">
            <div ng-message="required">
                Bitte bestätigen Sie Ihr Passwort.
            </div>
            <div ng-message="compareTo">
                Das Passwort entspricht nicht Ihrem angegebenen Passwort.
            </div>
        </div>
    </md-input-container>
    <span class="md-caption">
        * Alle mit einem Stern gekennzeichneten Felder sind Pflichtfelder. Die Angabe Ihres Vor- und Nachnamens ist optional. Sowohl Ihr Vorname als auch Ihr Nachname, dienen
        lediglich dazu, dass Ihre Freunde Sie später leichter finden können, um Einkaufslisten zu teilen
    </span>
    <section layout="column" layout-align="center center" >
        <md-button class="md-primary" ng-disabled="!updateUserDataForm.$valid || updateUserDataForm.$pristine" type="submit">
            Aktualisieren
        </md-button>
        <md-button class="md-warn" ng-href="#/deleteAccount">
            <md-icon>
                <sl-svg-icon src="/img/icons/icons.svg#remove_circle" size="24"></sl-svg-icon>
            </md-icon>
            Konto löschen
        </md-button>
    </section>
</form>