.md-scroll-mask{
    position: initial;
}

.gray-on-hover>a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover{
    background-color: transparent;
}

md-list-item {
    margin-left: -8px;
}

@media (min-width: 960px) {
    md-list-item {
        margin-left: 0;
    }
}

md-list-item .md-list-item-inner > md-checkbox, md-list-item > md-checkbox{
    margin-right: 10px;
}