.md-scroll-mask{
    position: initial;
}

.gray-on-hover>a.md-button.md-default-theme:not([disabled]):hover, a.md-button:not([disabled]):hover, .md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover{
    background-color: transparent;
}