[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif !important;

    height:100%;
}
.white{
    background-color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.info{
    color: rgb(63,81,181);
}

.warning{
    color: rgb(244,67,54);
}

#confirmationCodeInputContainer{
    min-width: 250px;
}

.striked-out{
    text-decoration: line-through !important;
    color: lightslategray !important;
}

.text-centered{
    text-align: center;
}

.md-display-1>md-icon{
    width: 34px !important;
    height: 34px !important;
}

.disabled {
    color: lightgray !important;
}

.autocompleteIcon{
    margin-right:32px;
}

md-list-item.md-2-line .md-list-item-text h3, md-list-item.md-2-line>.md-no-style .md-list-item-text h3, md-list-item.md-3-line .md-list-item-text h3, md-list-item.md-3-line>.md-no-style .md-list-item-text h3{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.md-list-item-with-secondary .md-list-item-text{
    padding-right: 40px;
}

.md-list-item-text{
    overflow: hidden;
}

.md-list-item-inner{
    overflow: hidden;
}

.titlebar{
    padding-right: 0;
    padding-left: 8px;
}

@media (min-width: 960px) {
    .titlebar {
        padding-left: 16px;
    }
}

.title-with-tools{
    overflow: hidden;
}

.shorten-long-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-left-of-icon{
    padding-right: 40px;
}

.md-headline{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

md-menu-content{
    overflow-y: hidden;
}

.rememberMeCheckBox{
    padding-left: 36px;
}

.update-notification {
    white-space: normal;
    line-height: 16px;
    font-size: 12px;
}

.hide-overflow{
    overflow:hidden;
}

.gray-on-hover:hover{
    background-color: rgba(158,158,158,0.2)
}