<md-toolbar>
    <div class="titlebar md-toolbar-tools">
        <md-button ng-if="authenticated" aria-label="toggle menu" class="md-icon-button" ng-click="toggleNav()" hide-gt-md>
            <md-icon md-svg-src="img/icons/navigation/ic_menu_24px.svg"></md-icon>
        </md-button>
        <div layout="row" class="fill-height" flex>
            <h1 class="md-toolbar-item md-breadcrumb md-headline">
                {{title}}
            </h1>
            <span flex></span>
            <div class="md-toolbar-item">
                <md-button ng-if="shortCutAction.available" aria-label="{{shortCutAction.ariaLabel}}" class="md-icon-button" ng-click="shortCutAction.action()">
                    <md-icon md-svg-src="{{shortCutAction.icon}}"></md-icon>
                </md-button>
                <ng-include ng-if="authenticated" ng-controller="navMenu" src="'app/navigation/navMenu/navMenu.html'"></ng-include>
            </div>
        </div>
    </div>
</md-toolbar>

<md-content layout="column" flex>
    <div class="md-tall md-warn" ng-if="error" >
        <div style="height: 128px;line-height: 128px;text-align: center;">
            <span style="display: inline-block;vertical-align: middle;line-height: normal;">
                {{errorMessage}}
            </span>
        </div>
    </div>
    <loading-cycle flex ng-if="loading"></loading-cycle>
    <div ng-view></div>
</md-content>