<md-toolbar>
    <div class="titlebar md-toolbar-tools">
        <md-button ng-if="authenticated" aria-label="toggle menu" class="md-icon-button" ng-click="toggleNav()" hide-gt-sm>
            <md-icon md-svg-src="img/icons/navigation/ic_menu_24px.svg"></md-icon>
        </md-button>
        <div layout="row" class="fill-height" flex>
            <h1 class="md-toolbar-item md-breadcrumb md-headline">
                {{title}}
            </h1>
            <span flex></span>
            <div class="md-toolbar-item" layout="row">
                <md-button ng-if="shortCutAction.available" aria-label="{{shortCutAction.ariaLabel}}" class="md-icon-button" ng-click="shortCutAction.action()">
                    <md-icon md-svg-src="{{shortCutAction.icon}}"></md-icon>
                </md-button>
                <ng-include ng-if="authenticated" ng-controller="navMenu" src="'app/navigation/navMenu/navMenu.html'"></ng-include>
            </div>
        </div>
    </div>
</md-toolbar>

<md-content md-scroll-y layout="column" flex>
    <a name="top" id="top"></a>
    <md-toolbar class="md-tall md-warn" ng-if="error" layout="row" layout-align="center center">
        <div class="titlebar md-toolbar-tools fill-height text-centered" layout="row" layout-align="center center">
            <span flex class="md-toolbar-item">
                {{errorMessage}}
            </span>
            <div class="md-toolbar-item" layout="row">
                <md-button aria-label="close error" class="md-icon-button" ng-click="closeError()">
                    <md-icon md-svg-src="/img/icons/navigation/ic_close_24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <loading-cycle layout-padding flex ng-if="loading"></loading-cycle>
    <div ng-view></div>
</md-content>