<md-list-item ng-if="!ctrl.touchOptionsActive" class="gray-on-hover" ng-click="ctrl.goto('/lists/'+ list.entityId)"
              on-long-press="ctrl.showTouchOptions()" ng-swipe-left="ctrl.showTouchOptions()" ng-mouseenter="ctrl.showDesktopOptions()"
              ng-mouseleave="ctrl.hideDesktopOptions()" on-touch-end="ctrl.hideDesktopOptions()">
    <p class="shorten-long-text" ng-class="{'text-left-of-icon' : ctrl.desktopOptionsVisible}">{{list.name}}</p>
    <md-icon ng-if="!list.deleting && ctrl.desktopOptionsVisible" aria-label="delete list" class="md-secondary option" ng-click="ctrl.deleteList(list, $event)"
             md-svg-src="img/icons/action/ic_delete_24px.svg">
    </md-icon>
</md-list-item>
<md-divider ng-if="!ctrl.touchOptionsActive"></md-divider>
<md-list-item ng-show="ctrl.touchOptionsActive" class="md-2-line" role="listitem">
    <md-fab-toolbar flex class="hide-overflow" md-open="ctrl.touchOptionsOpen" count="1" md-direction="left">
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
            </md-button>
        </md-fab-trigger>

        <md-toolbar>
            <div class="titlebar md-toolbar-tools">
                <div layout="row" class="fill-height title-with-tools" flex>
                    <h3 class="md-toolbar-item md-breadcrumb md-headline">
                        {{list.name}}
                    </h3>
                    <span flex></span>
                    <md-fab-actions>
                        <md-button aria-label="Liste löschen" ng-click="ctrl.deleteList(list, $event)" class="md-icon-button">
                            <md-icon md-svg-src="img/icons/action/ic_delete_24px.svg"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </div>
            </div>
        </md-toolbar>
    </md-fab-toolbar>
</md-list-item>