<div ng-if="ctrl.listsAreEmpty() && !loading" layout="column" layout-align="center center">
    <h2 class="md-display-1 text-centered">
        Du hast noch keine Einkaufsliste
        <md-icon md-svg-src="img/icons/social/ic_mood_bad_48px.svg"></md-icon>
    </h2>
    <md-button class="md-primary" ng-href="#/newList">
        <md-icon md-svg-src="img/icons/action/ic_add_shopping_cart_24px.svg"></md-icon>
        Erstelle dir doch eine
    </md-button>
</div>

<md-list ng-if="!ctrl.listsAreEmpty()" ng-cloak>
    <md-list-item class="gray-on-hover" ng-click="ctrl.goto('/lists/overview')">
        <p class="shorten-long-text">Zusammenfassung</p>
    </md-list-item>
    <md-divider></md-divider>
    <ng-include ng-repeat="list in ctrl.lists | orderBy: 'name' track by list.entityId"
                src="'/templates/lists/list.html'"
                ng-controller="listController as ctrl">
    </ng-include>
</md-list>