<loading-cycle ng-if="loading"></loading-cycle>
<div ng-if="!loading" class="content" layout="column" class="md-padding">
    <h2 class="md-display-3 text-centered">Fast geschafft!</h2>
    <p class=".md-body-2 info text-centered">
        Dir wurde ein Bestätigungscode per E-Mail zugesandt.
        Trage diesen bitte hier ein, um die Registrierung abzuschließen.
    </p>

    <form layout="column" layout-align="center center" name="confirmationForm" ng-submit="confirm()">
        <md-input-container id="confirmationCodeInputContainer">
            <label for="confirmationCode">Bestätigungscode</label>
            <input id="confirmationCode" name="confirmationCode" ng-model="confirmation.code" type="text" required>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" >
            <md-button class="md-primary" ng-disabled="!confirmationForm.$valid" type="submit">
                Registrierung bestätigen
            </md-button>
            <md-tooltip ng-if="!confirmationForm.$valid">
                Bitten geben Sie zunächst Ihren Bestätigungscode ein
            </md-tooltip>
        </section>
    </form>
</div>
