<div ng-if="!loading && success" class="md-padding" layout="column">
    <h2 class="md-display-1 text-centered">Aktivierung erfolgreich!</h2>
    <p class="info text-centered">
        Dein Konto wurde erfolgreich aktiviert. Du kannst dich nun einloggen, um die Einkaufsliste zu verwenden.
    </p>
    <md-button class="md-primary" ng-href="#/login">
        Los gehts!
    </md-button>
</div>
<div ng-if="!loading && !success" class="md-padding" layout="column">
    <h2 class="md-display-1 text-centered">Aktivierung fehlgeschlagen!
        <md-icon>
            <sl-svg-icon src="/img/icons/icons_48px.svg#mood_bad" size="34"></sl-svg-icon>
        </md-icon>
    </h2>
    <p class="info text-centered">
        Leider ist bei der Aktivierung deines Kontos ein Fehler aufgetreten.<br/>
        Bitte bedenke, dass die Aktivierung bis maximal zwei Tage nach deiner Registrierung möglich ist.<br/>
    </p>
    <p class="info text-centered">
        Falls deine Registrierung mehr als zwei Tage zurück liegt, registriere dich bitte erneut.
    </p>
    <p class="info text-centered">
        Falls das nicht der Fall ist, sende bitte eine E-Mail mit deinem Nutzernamen und/oder deiner E-Mailadresse an
        <a href="mailto:shoppinglist.confirmation@gmail.com">shoppinglist.confirmation@gmail.com</a>.
    </p>
</div>
