<form id="loginForm" name="loginForm" role="form" ng-submit="login()">
    <md-input-container class="md-icon-float md-block">
        <label for="username">Benutzername/E-Mail</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input id="username" name="username" ng-model="credentials.username" type="text" required>
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <label for="password">Passwort</label>
        <md-icon md-font-set="material-icons">vpn_key</md-icon>
        <input id="password" name="password" type="password" ng-model="credentials.password" required>
    </md-input-container>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <div>
            <md-button class="md-primary" ng-disabled="loginDisabled()" type="submit">
                Login
            </md-button>
            <md-tooltip ng-if="loginDisabled()">
                Bitten geben Sie zunächst Ihre Zugangsdaten ein
            </md-tooltip>
        </div>
        <md-button class="md-primary" ng-disabled="loggingIn" ng-href="#/register">
            Registrieren
        </md-button>
    </section>
</form>
