<div ng-if="!ctrl.dictionaryIsEmpty()">
    <md-input-container class="md-block">
        <md-icon md-svg-src="img/icons/action/ic_search_24px.svg"></md-icon>
        <input id="filter" name="filter" ng-model="ctrl.filter" type="text" placeholder="Filtern..">
    </md-input-container>

    <md-list>
        <shopping-article ng-repeat="article in ctrl.articles | filter: ctrl.filter track by article.entityId" article="article"></shopping-article>
    </md-list>
</div>
<ng-include ng-if="ctrl.dictionaryIsEmpty()" src="'/templates/article/dictionary/emptyDictionary.html'"></ng-include>