<div ng-if="!loading">
    <div flex>
    <form id="createNewItemForm" role="form" class="md-padding" name="createNewItemForm" ng-submit="createNewItem()">
        <md-autocomplete id ="newItemAutocomplete"
                         md-no-cache="true"
                         md-selected-item="selectedArticle"
                         md-selected-item-change="createNewItem($event)"
                         md-search-text="ctrl.newItem.article.name"
                         md-items="article in articles | filter: {name: ctrl.newItem.article.name} | limitTo: 5"
                         md-item-text="article.name"
                         md-min-length="1"
                         ng-disabled="creating"
                         placeholder="Neuer Posten">
            <md-item-template>
                <span md-highlight-text="ctrl.newItem.article.name" md-highlight-flags="^i">{{article.name}}</span>
            </md-item-template>
        </md-autocomplete>
    </form>
        <md-content>
            <md-list ng-cloak role="list">
                <ng-include ng-repeat="item in list.items | orderBy: 'article.name' track by $index"
                     src="'/app/item/item.html'"
                     ng-controller="itemController">
                </ng-include>
            </md-list>
        </md-content>
    <ng-include class="padding-content" ng-if="list.items.length == 0" src="'app/lists/view/emptyList.html'"></ng-include>
    </div>
</div>