<div ng-hide="loading">
    <div class="md-padding">
        <form id="createShoppingListForm" role="form" name="createShoppingListForm" ng-submit="createList()">
            <md-input-container class="md-icon-float md-block">
                <md-icon md-svg-src="img/icons/action/ic_list_24px.svg"></md-icon>
                <input id="name" name="name" ng-model="list.name" type="text" placeholder="Name der Liste" md-autofocus>
            </md-input-container>
        </form>
    </div>
    <md-list>
        <md-subheader class="md-no-sticky">Berechtigte Nutzer:</md-subheader>
        <div id="addUserField" class="md-padding" layout="row">
            <md-icon class="autocompleteIcon" md-svg-src="img/icons/social/ic_person_add_24px.svg"></md-icon>
            <md-autocomplete flex
                             md-selected-item="selectedUser"
                             md-selected-item-change="addUserToOwners(selectedUser, $mdAutocompleteCtrl)"
                             md-search-text="ctrl.userSearchText"
                             md-items="user in users | filter: hasProperty | filter: notContained | limitTo: 5"
                             md-item-text="user.username"
                             md-min-length="1"
                             placeholder="Nutzer hinzufügen">
                <md-item-template>
                    <span md-highlight-text="userSearchText" md-highlight-flags="^i">{{user.username}}</span>
                </md-item-template>
                <md-not-found>
                    Kein Treffer gefunden.
                </md-not-found>
            </md-autocomplete>
        </div>
        <md-list-item class="md-2-line" ng-repeat="owner in list.owners track by $index">
            <md-icon md-svg-src="img/icons/social/ic_person_24px.svg"></md-icon>
            <div class="md-list-item-text">
                <h3>{{owner.username}}</h3>
                <h4 ng-if="firstNameOrLastNameIsDefined(owner)">{{owner.firstName ? owner.firstName : ''}} {{owner.lastName ? owner.lastName : ''}}</h4>
            </div>
            <md-button aria-label="remove user from owners list" class="md-icon-button md-secondary" ng-click="removeUserFromOwners($index, owner)" type="button">
                <md-icon md-svg-src="img/icons/action/ic_delete_24px.svg"></md-icon>
            </md-button>
        </md-list-item>
    </md-list>

    <section layout="row" layout-align="center center">
        <md-button class="md-primary" ng-disabled="disableCreateButton()" type="submit" ng-click="createList()">
            Erstellen
        </md-button>
    </section>
</div>
